.footer {
  width: 100vw;
  height: 4rem;
  background: #17412d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
}

.pFooter {
  color: #fff;
}
