.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  
}

.form_control label {
  margin-bottom: 0.6em;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
  
}

.form_control input {
  padding: 0.7em;
  border-radius: 10px;
  border: 3px solid #2b1d1d;
  
}

.form_control input::placeholder {
  color: #2d1600;
}


