.newproject_container {
  width: 450px;
  margin: 0 auto;
  padding: 3em;
}

.newproject_container h1 {
  margin-bottom: 0.5em;
  font-family: "Nanum Myeongjo", serif;
  color: #2d1600;
  font-weight: 700;
}

.newproject_container p {
  color: #fff;
  font-family: "Nanum Myeongjo", serif;
}
