* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background: linear-gradient(
    to right,
    #576851 0%,
    #576851 50%,
    #a58567 50%,
    #a58567 100%
  );
}

body {
  background-color: #576851;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

/*.body_home {
  background-image: linear-gradient(to right, #576851 0%, #576851 50%, #A58567 50%, #A58567 100%);
}*/

a {
  text-decoration: none;
}
