* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background-color: #fff;
  color: white;
  overflow: hidden;
  overflow: auto;
}

/*.body_home {
  background-image: linear-gradient(to right, #576851 0%, #576851 50%, #A58567 50%, #A58567 100%);
}*/

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  background-color: white;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e8f4e1;
  border-radius: 20px;
}
